{% extends 'layout.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded box-shadow">
            <img class="mr-3" src="https://image.flaticon.com/icons/svg/138/138839.svg" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Task manager</h6>
                <small>https://github.com/Sundowndev/interview-v1</small>
            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <form action="#">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Create task</button>
            </form>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">All tasks</h6>
            <div class="task-list"></div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        sendRequest('GET', '/tasks', null, function (res) {
            res.data.forEach(function () {
                $('.task-list').append('<div class="media text-muted pt-3">\n' +
                    '            <img src="https://dummyimage.com/32x32/54bf22/fff.jpg&text=+" alt="" class="mr-2 rounded">\n' +
                    '            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">\n' +
                    '                <div class="d-flex justify-content-between align-items-center w-100">\n' +
                    '                    <a href=""><strong class="text-gray-dark">Faire rapport de stage</strong></a>\n' +
                    '                    <span class="badge badge-pill badge-primary">Open</span>\n' +
                    '                </div>\n' +
                    '                <spadatan class="d-block">Je dois faire ça lààààà</spadatan>\n' +
                    '            </div>\n' +
                    '        </div>');
            });
        });
    </script>
{% endblock %}